* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: wheat;
  /* overflow: hidden; */
}
header {
  text-align: center;
}
.primary-heading {
  color: white;
  margin-top: 20px;
  font-size: 48px;
  font-style: italic;
  color: steelblue;
  margin-bottom: 20px;
}
.primary-heading span {
  font-style: normal;
  font-size: 34px;
  color: white;
  .//change this to black;
}
.search {
  margin-top: 20px;
  border: none;
  padding: 5px;
  width: 200px;
  margin-right: 3px;
}
.search-icon {
  display: inline;
  background-color: steelblue;
  color: white;
  padding: 3px;
}
.cart {
  position: fixed;
  top: 50px;
  right: 70px;
  padding: 5px;
  background-color: white;
}
.cart span {
  position: fixed;
  top: 40px;
  background-color: orange;
  font-weight: 500;
  padding: 2.5px 7px;
  right: 55px;
  border-radius: 50%;
  margin: 0px;
  display: none;
}
.wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.product {
  width: 30%;
  background-color: white;
  margin-bottom: 30px;
}
.product-img {
  width: 100%;
  height: 200px;
}
.product-text {
  display: flex;
  padding: 5px;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}
.add-btn {
  margin: 10px auto 1px 180px;
  padding: 8px;
  font-weight: 550;
  background-color: rgb(0, 94, 172);
  color: white;
  border: none;
  border-radius: 20px;
}
.add-btn:hover {
  background-color: rgb(0, 13, 190);
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.698);
  display: none;
}
.modal {
  background-color: white;
  width: 50%;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  max-height: 60vh;
  overflow-y: scroll;
  box-shadow: 1px 1px 10px black;
  transform: translate(-50%, -50%);
  /* display: none; */
}
.cart-element {
  display: flex;
  width: 60%;
  margin: 10px auto;
}
.cart-product-img {
  width: 100px;
  height: 100px;
}
.cart-text {
  margin-left: 10px;
}
.cart-product-heading {
  font-size: 28px;
  letter-spacing: 1px;
}

.cart-item-delete {
  color: red;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 150px;
}

.price {
  font-size: 20px;
}
.total-price {
  font-size: 22px;
  display: inline;
}

.checkout-btn {
  border: none;
  display: inline;

  background-color: steelblue;
  padding: 5px;
  margin: 10px auto 10px auto;
  font-size: 16px;
  color: white;
  box-shadow: 1px 1px 10px rgba(70, 131, 180, 0.705);
}
